<!DOCTYPE html>
<!--解决th报错 -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
   <title>爱玛家国际月子会所前台系统</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="css/login/style.css" type="text/css" media="all" /><!-- Style-CSS -->
   <link href="css/login/font-awesome.css" rel="stylesheet">
    <script src="js/jquery/jquery-3.3.1.js"></script>
      <script src="js/jquery/jquery-3.3.1.min.js"></script>
      <script src="js/syalert.min.js"></script>
   <!-- font-awesome-icons -->
</head>
<body>
ERROR,sssqqq
</body>
</html>
