<!DOCTYPE html>
<!--解决th报错 -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
   <title>爱玛家国际月子会所前台系统</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="css/login/style.css" type="text/css" media="all" /><!-- Style-CSS -->
   <link href="css/login/font-awesome.css" rel="stylesheet">

    <script src="js/jquery/jquery-3.3.1.js"></script>
      <script src="js/jquery/jquery-3.3.1.min.js"></script>
      <script src="js/syalert.min.js"></script>

   <!-- font-awesome-icons -->
</head>
<body>
<section class="w3l-form-36">
	<div class="form-36-mian section-gap">
		<div class="wrapper">
			<div class="form-inner-cont">
				<h3>爱玛家国际月子会所</h3>
				<form  method="POST" class="signin-form" id="loginform">
					<div class="form-input">
						<span class="fa fa-envelope-o" aria-hidden="true"></span> <input type="text" name="login_id" id="loginid"
						  placeholder="用户名" required />
					</div>
					<div class="form-input">
						<span class="fa fa-key" aria-hidden="true"></span> <input  type="password" name="password" placeholder="密码"
						 id="psd"	required />
					</div>
					<div class="login-remember d-grid">
						<label class="check-remaind">
							<input type="checkbox">
							<span class="checkmark"></span>
							<p class="remember">记住密码</p>
						</label>
						<button class="btn theme-button" id="loginbtn">登录</button>
					</div>
					<div class="new-signup">
						<a href="#reload" class="signuplink">忘记密码?</a>
					</div>
				</form>
				<!--<div class="social-icons">
					<p class="continue"><span>Or</span></p>
					<div class="social-login">
						<a href="#facebook">
							<div class="facebook">
								<span class="fa fa-facebook" aria-hidden="true"></span>

							</div>
						</a>
						<a href="#google">
							<div class="google">
								<span class="fa fa-google-plus" aria-hidden="true"></span>
							</div>
						</a>
					</div>
				</div>-->
				<!--<p class="signup">Don’t have an account? <a href="#signup.html" class="signuplink">Sign up</a></p>-->
			</div>

			<!-- copyright -->
			<div class="copy-right">
				<p>Copyright &copy; 2020.WT All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">AiMaHome International</a></p>
			</div>
			<!-- //copyright -->
		</div>
	</div>
</section>
</body>
<script type="text/javascript" src="js/base64/jquery.base64.js"></script>
<script>
/*$("#loginform").submit(function() {
  var ajaxLogin = "/aima/loginBusiness";
  alert($("#loginform").serialize());
  $.ajax({
    url:ajaxLogin,
    dataType:'json',
    type:"post",
    data:$("#loginform").serialize(),
    success:function(data) {
      debugger;
    },error:function(e) {
      debugger;
    }
  })
})*/

$("#loginbtn").click(function(){
    var loginid=$("#loginid").val();
    var psd =$("#psd").val();
    var jm=$.base64.encode(psd);
     var ajaxLogin = "/loginBusiness";
    $.ajax({
    url:ajaxLogin,
        dataType:'json',
        type:"post",
        data:{"login_id":loginid,"password":jm},
        success:function(data) {
          debugger;
        },error:function(e) {
          debugger;
        }
    })
})
</script>
</html>